img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {font-family:Times New Roman, Helvetica, sans-serif;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:transparent;
  font-weight: bold;
  
  
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: #00acff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
   font-weight: bold;
}


li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}



.slideshow-container {
  max-width: 1350px;
  position: relative;
  margin: auto;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: center;
  
}



h2 {
  font-family:'Times New Roman', Times, serif;
  color: #00acff;
  text-align: center;
  font-size: 50px;
  }


.dropbtn {
  background-color:transparent;
  color: #00acff;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropup {
  position: relative;
  display: inline-block;
}


.dropup-content {
  display: none;
  position: absolute;
  bottom: 50px;
  background-color: #1c6db9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {background-color: #ddd}


.dropup:hover .dropup-content {
  display: block;
}


.dropup:hover .dropbtn {
  background-color: #2980B9;
}

* {
  box-sizing: border-box;

}



nav {
  float: left;
  width: 40%;
  height: 300px; 
  background: rgba(204, 204, 204, 0);
  padding: 20px;
}



article {
  float: left;
  padding: 20px;
  width: 60%;
  background-color: #f1f1f100;
  height: 300px; 
}


section::after {
  content: "";
  display: table;
  clear: both;
}






  nav, article {
    width: 100%;
    height: auto;
  
}

.block{
  background-color: #000000;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 16px;
  padding: 16px;
  text-align: center;
  transition: box-shadow 0.3s;
  width: 200px;
            }
.block:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }
.block img {
height: 150px;
  width: 150px;
object-fit: cover;
object-position: center;
  }
.block h2 {
  font-size: 24px;
  margin-bottom: 8px;
            }
.block p {
  font-size: 16px;
  margin-top: 8px;
            }
